[submodule "packages/demos/panels/contract/lib/forge-std"]
	path = packages/demos/panels/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/demos/panels/contracts/lib/openzeppelin-contracts"]
	path = packages/demos/panels/contracts/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
