@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans w-96 h-96 ml-auto mr-auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full h-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
