@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans w-[400px] h-[500px] ml-auto mr-auto bg-gray-50;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full h-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
